<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>
  <%= link_to "Sign up" , '#' , class: "btn btn-large btn-primary" %>
</div>

<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail" my>
      <img src="/assets/rails.png" alt="">
      <h3>Label1</h3>
      <p>caption ... </p>
      <button class="btn btn-success">View Detail</button>
    </div>
  </li>

  <li class="span4">
    <div class="thumbnail" my>
      <img data-src="holder.js/300x400" alt="">
      <h3>Label1</h3>
      <p>caption ... </p>
      <button class="btn btn-success">View Detail</button>
    </div>
  </li>

  <li class="span4">
    <div class="thumbnail" my>
      <img data-src="holder.js/300x400" alt="">
      <h3>Label1</h3>
      <p>caption ... </p>
      <button class="btn btn-success">View Detail</button>
    </div>
  </li>
</ul>

<!--%= link_to image_tag("rails.png", alt: "rails"), '#' %-->
